.input-group{
    width: 100%;
    display:flex;
    flex-direction: column;
    margin:10px 0;
    align-items: stretch;
}

input-group > label {
    margin-top: 10px;
}

input-group > input{
    padding:5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}